header {
	background: #CCCCCC;
	padding: 20px 0;
	width: 100%;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}
 
nav li {
	display: inline;
	margin: 0 0 0 30px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px; 
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%; 
}

footer {
	background: url(imagens/bg.jpg);
	text-align: center; 
	font-size: 20px;
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 15px 0 0;
}

.checkbox {
	margin: 20px 0px;
}

.enviar {
	width:40%;
	padding: 20px 0;
	background: orange;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border: 3px;
	border-radius: 5px;
	transition:  1.5s transform;
	cursor: pointer;

}

.enviar:hover {
	background: blue;
	transform: scale(1.2);
}

.enviar:active {
	background: green; 
}

table {
	margin: 20px 10px 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

@media screen and (max-width: 480px) {
	body {
		width: auto;
	}

	.caixa, .checkbox {
		width: auto; 
		
	}

	.enviar {
		width: 100%; 
		text-align: center;
	}

	main {
		width: auto; 
	}

	
	#form-1 {
		margin: 10px;
	}

	h1 {
		font-size: 18px;
		text-align: center;
	}

	nav {
		position: static;
	}

	nav a {
		font-size: 18px;
	}
}